.button {
    width: 272px;
    padding: 8px 45px;

    @include font-apply($font-weight: 700, $text-align: center);
    text-transform: uppercase;
    color: $blue;

    background-color: $white;
    border-radius: 40px;
    box-shadow: 4px 5px 10px rgba(1, 1, 1, 0.2);

    &:hover, 
    &:focus {
        background-color: $grey;
    }

    &:active {
        opacity: 0.6;
    }
}