.page-header {
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    margin: 0 auto;
    padding: 0 20px;
}

.page-header__logo {
    margin: 0 auto;
    padding: 20px 20px;
}

@media (min-width: $tablet-width) {
    .page-header {
        width: $tablet-width;
        padding: 0 30px;
    }

    .page-header__logo {
        width: 100px;
        margin: 0;
        margin-right: 55px;
        padding: 15px 0;
    }    
}

@media (min-width: $desktop-width) {
    .page-header {
        width: 1920px;
        padding: 0 375px;
    }

    .page-header__logo {
        width: auto;
        margin-right: auto;
        padding: 27px 0;
    }
}