$desktop-width: 1024px;
$tablet-width: 768px;
$white: #ffffff; 
$black: #000000;
$blue: #3a30f8;
$light-blue: #00b6f1;
$yellow: #e2e837;
$red: #e23232;
$grey: #f0efef;
$light-grey: #f8f8f8;
$fiolet: #6d33c6;
$darker-blue: #3b33f3;